body {
    background-color: rgb(145, 219, 219);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: rgb(188, 113, 142);
}

#inputForm {
    background-color: rgb(171, 201, 169);
}

th {
    vertical-align: middle;
}
